build/
bin/
Debug/
Release/
*.user
*.suo
*.sdf
*.opensdf
*.o
deps/luarocks/bin
deps/luarocks/lib
deps/luarocks/share
deps/luarocks/built
deps/lua/include/
deps/lua/lib/
deps/lua/man/
deps/lua/src/liblua.a
deps/lua/src/lua
deps/lua/src/luac
